{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} About {% endblock %}</h1>


<body>
    <p><font size="6">This is my project</font></p>
    <p><font size="5" 
        face="serif">Press on the post' title to read a post</font></p>
    <p><font size="5" 
        face="serif">Press on a small yellow "edit" button to edit a post</font></p>
    <p><font size="5" 
        face="serif">Press on the "New Post" button to create a post</font></p>
    <p><font size="5" 
        face="serif">Press on the "FlaskBlog" button to return to homepage</font></p>
    <p><font size="1" 
        face="serif">small text</font></p>
</body>
{% endblock %}
